extends templates/main

block content
  div AYEEEEEE
  button(onclick="window.Login()") Login
  br
  select
    option(value="0" selected) Select a page

block scripts
  script(src='/js/main.js' async)
