doctype html
html(lang="en")
  head
    block header
      title Document
      meta(name="author" content="")
      meta(name="subject" content="")
      meta(name="Description" content="")
      meta(name="Classification" content="")
      meta(name="Keywords" content="")
      meta(name="Geography" content="")
      meta(name="Language" content="")
      meta(name="Copyright" content="")
      meta(name="Designer" content="")
      meta(name="Publisher" content="")
      meta(name="distribution" content="")
      meta(name="Robots" content="")
      meta(name="zipcode" content="")
      meta(name="city" content="")
      meta(name="country" content="")
      meta(charset="UTF-8")
  body

    block content
    block footer
    block scripts
